$expand: 160px;
$collapse: 60px;
$navbar-height: 60px;

.box {
    position: relative;
    display: flex;
    padding-top: 60px;

    .sidebar-hide {
        display: none;
    }

    .sidebar-expand {
        width: $expand;
        position: fixed;
        min-height: calc(100vh - $navbar-height);
    }

    .sidebar-override {
        width: $expand;
        position: fixed;
        min-height: calc(100vh - $navbar-height);
        z-index: 2000;
    }

    .sidebar-collapse {
        width: $collapse;
        position: fixed;
        min-height: calc(100vh - $navbar-height);
    }

    .main-content-expand {
        top: 60px;
        left: 60px;
        position: absolute;
        width: calc(100vw - $collapse);
        min-height: calc(100vh - $navbar-height);
    }

    .main-content-collapse {
        top: 60px;
        left: 160px;
        position: absolute;
        width: calc(100vw - $expand);
        min-height: calc(100vh - $navbar-height);
    }

    .main-content-full {
        top: 60px;
        position: absolute;
        width: 100vw;
        min-height: calc(100vh - $navbar-height);
    }

}

.navbar {
    width: 100vw;
    height: $navbar-height;
    position: fixed;
    z-index: 10000;
    background-color: white;
}


.content-body {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    width: 100%;

    @media screen and (max-width: 470px) {
        padding: 0;
        justify-content: center;
    }
}