.iconBox{
    width: 30px;
    justify-content: flex-start;
}

.textBox{
    font-size: 14px;
    font-weight: 550;
}
.fixText{
    line-height: 2em;
}
.sideRow{
    height: 40px;
    width: available;
    vertical-align: center;
    justify-content: flex-start;
}

.dark{
    color: aliceblue;
}

.light{
    color: black;
}