.upload-form{
    height: fit-content;

    .choose-file{
        height: 50px;
        color: transparent;
    }
    .choose-file::-webkit-file-upload-button{
        visibility: hidden;
    }

    .submit{
        width: 50px;
        height: 30px;
        border: 1px solid black;
        border-radius: 1em;
        background: #2b18d446;
        text-shadow: 1px 1px #6e6a6a44;
        font-weight: 700;
    }

    .choose-file::before{
        content: 'chọn file';
        color: black;
        display: inline-block;
        background: #2b18d446;
        border: 1px solid #999;
        border-radius: 1.5em;
        padding: 4px 8px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        text-shadow: 1px 1px #6e6a6a44;
        font-weight: 700;
    }

}
