.box {
    .play-all-box {
        margin-bottom: 12px;
        .list-title {
            
        }

        button {
            cursor: pointer;
        }
    }

    .video-slider {
        display: flex;
        overflow-x: auto;
        width: 100%;
        gap: 15px;

        
    }

    .video-slider::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}

.video-box {
    width: 256px;
    height: auto;
    display: block;
    cursor: pointer;

    .video-thumbnail {
        width: 100%;
        height: 144px;
        border-radius: 5px;
    }

    .info-box {
        display: block;
        gap: 5px;
        p{
            font-size: 0.8rem;
        }
    }

    .title-box {
        justify-content: space-between;
        display: flex;
        gap: 5px;
        p{
            font-size: 1.4rem;
        }
    }
}