.box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    div{
        display: flex;
        gap: 20px;
    }

    .redirect-box{
        padding: 10px 6px;
    }

    .redirect-box:hover{
        background-color: #f2f2f2;
        border-radius: 9px;
    }
}