//page.tsx
.box {
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 900px) {
        .left {
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .right {
            width: 30%;
        }
    }

    @media screen and (max-width: 899px) {
        .left {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .right {
            display: none;
        }
    }

}


//Channel.tsx component
.channel-box {
    width: 100%;
    display: flex;
    gap: 30px;
    height: 202px;
    cursor: pointer;

    .img-box {
        width: 360px;
        display: flex;
        justify-content: center;
        margin-block: auto;

        img {
            border-radius: 50%;
        }
    }

    .des-box {
        min-width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .sub-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.video-relation-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video-relation-box::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: dimgrey;
}

//Video box component
.video-box {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    cursor: pointer;

    .thumbnail {
        max-width: 40%;
        height: fit-content !important;
        max-height: 202px;
        margin-bottom: auto;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 60%;

        img {
            border-radius: 1rem;
        }

        div {
            display: flex;
            flex-direction: row;
            gap: 5px;

            .infomation {
                font-size: 12px;
            }

            .channel-name{
                font-size: 1rem;
                font-weight: 550;
            }

            .channel-name:hover{
                color: maroon;
            }

        }

        .title {
            font-size: 1.4rem;
            font-weight: 650;
        }

        .des {
            font-size: 12px;
        }
    }
}