.button {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    justify-content: flex-start;
    text-align: start;
    width: 26px;
    height: 26px;
    background: none;
    cursor: pointer;

    .account-menu-box {
        position: relative;
        cursor: pointer;
        width: 22px;

        .avatar {
            width: 20px;
            height: 20px;
            border-radius: 1rem;
        }

        .dropdown {
            position: absolute;
            z-index: 100;
            border-radius: 5px;
            width: 240px;
            font-size: 1.2rem;
            user-select: none;
            padding: 10px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

            .infomation-box {
                display: flex;
                gap: 5px;
                list-style: none;
                position: relative;
                cursor: pointer;
                padding-bottom: 5px;

                .avatar {
                    width: 35px;
                    height: 35px;
                    outline: 0;
                    border: 0;
                    border-radius: 2rem;
                    margin-top: 15px;
                }
            }

            .infomation-box::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #e5e5e5;
            }

            .menu-box {
                list-style: none;
                padding: 5px;
                position: relative;
                cursor: pointer;

                .p {
                    color: #338ac9;
                }
            }

            .menu-box:hover {
                background-color: #f2f2f2;
            }

            // .menu-box::after {
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 1px;
            //     background-color: #e5e5e5;
            // }
        }

    }

}