.box {
    .play-all-box {
        .list-title {}

        button {}
    }

    .video-slider {
        display: flex;
        overflow-x: auto;
        /* Sử dụng auto thay vì scroll để chỉ hiển thị thanh cuộn khi cần thiết */
        width: 100%;
        gap: 15px;

        .video-box {
            flex: 0 0 230px;
            /* Chiều rộng cố định là 230px */
            display: block;

            .video-thumbnail {
                width: 100%;
                height: 100px;
            }

            .info-box {
                display: flex;
                gap: 5px;
            }

            .title-box {
                justify-content: space-between;
                display: flex;
            }
        }
    }



    .video-slider::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}