.box{
    border: 1px solid rgb(180, 181, 182);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    .top-housing{
        display: flex;
        position: relative;
        padding: 10px 0 35px 0;
        background-color: rgb(180, 181, 182);
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;
        background-clip: padding-box;
        height: fit-content;
        .top-left{
            vertical-align: middle;
            position: absolute;
            left: 5%;
            height: fit-content;
        }

        .top-right{
            position: absolute;
            right: 5%;
        }

    }

    .top-housing:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 90%;
        margin-left: 5%;
        height: 1px;
      }

    .bot-housing{
        position: relative;
        max-height: 650px;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
}

.items{
    display: flex;
    padding: 5%;
    .thumbnail{
        width: 180px;
        max-width: 60%;
        max-height: 100%;
    }
    div{
        display: block;
        position: relative;
        margin-left: 5%;
        width: 400px;
        max-width: 40%;
        .video-title{
            position: absolute;
            top: 0;
            font-size: 1.2em;
            font-weight: 650;
            width: 200px;
            max-width: 100%;
            max-height: 65px;
            overflow-y: scroll;
        }
        .video-owner{
            position: absolute;
            bottom: 0;
            font-size: 0.9em;
        }
    }
}

.none{
    display: none;
}

